<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149692741948-33n1plf1rna2eajg0qgqt8a7gu8oks11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149692741948-33n1plf1rna2eajg0qgqt8a7gu8oks11</string>
	<key>API_KEY</key>
	<string>AIzaSyC7okGcnxN-M6gCD5DKByO0esuSBhtrg5I</string>
	<key>GCM_SENDER_ID</key>
	<string>149692741948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgl.tukotailor</string>
	<key>PROJECT_ID</key>
	<string>tukotailor-d603c</string>
	<key>STORAGE_BUCKET</key>
	<string>tukotailor-d603c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149692741948:ios:7ae94658e7437cca1ec639</string>
</dict>
</plist>