<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76356547303-jnc18tljlr0lve675ta27kkl684iblcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76356547303-jnc18tljlr0lve675ta27kkl684iblcr</string>
	<key>API_KEY</key>
	<string>AIzaSyAFJ3WhCeBiwJ65NvoL0BOrlFHele6XL0w</string>
	<key>GCM_SENDER_ID</key>
	<string>76356547303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgl.tukotailor</string>
	<key>PROJECT_ID</key>
	<string>tukotailor-78af0</string>
	<key>STORAGE_BUCKET</key>
	<string>tukotailor-78af0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76356547303:ios:ba93b532fdf99f5c242842</string>
</dict>
</plist>